################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorTutorial/.vs/CalculatorTutorial/v16/Browse.VC.opendb
/DogClass/.vs/DogClass/v16/Browse.VC.opendb
/ShapeClassAndSubClasses/.vs/ShapeClassAndSubClasses/v16/Browse.VC.opendb
*.opendb
